/* shared */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
}

html {
  color-scheme: light dark;

  --primary-color: light-dark(rgb(206, 18, 18), rgb(193, 126, 31));
  --secondary-color: light-dark(black, white);
  --padding-inline: 7%;
  --primary-font: "Open Sans", sans;
  --secondary-font: "Amatic SC", serif;
  --lg-font-size: 40px;
}

html:has(#mode-switcher:checked) {
  color-scheme: light;
}

.container {
  padding-inline: var(--padding-inline);
  display: flex;
}

::selection {
  color: white;
  background: rgb(255, 129, 129);
}

/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: light-dark(white, black);
  box-shadow: 0px 0px 10px 2px rgb(196, 196, 196);
  z-index: 3;
}

.navbar .container {
  display: flex;
  padding-inline: var(--padding-inline);
  padding-block: 25px;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo h1 {
  font-size: 30px;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar .list {
  list-style: none;
  display: flex;
}

.navbar .list .list-item {
  padding-inline: 15px;
  font-weight: 500;
}

.navbar .list .list-item label {
  color: grey;
  cursor: pointer;
  transition: all 0.4s;
}

.navbar .list .list-item a {
  color: grey;
}

.navbar .list .list-item a:hover {
  color: var(--secondary-color);
}

.navbar .list .underline {
  width: 0%;
  height: 3px;
  margin-top: 5px;
  background-color: var(--primary-color);
  transition: all 0.4s;
}

.navbar .list .list-item:hover .underline {
  width: 100%;
}

.navbar i.dark-mode-icon {
  font-size: 25px;
}

.navbar #mode-switcher {
  display: none;
}

.navbar input[type="radio"] {
  display: none;
}

.navbar input[type="radio"]:checked ~ label {
  color: var(--secondary-color);
}

.navbar input[type="radio"]:checked ~ div.underline {
  width: 100%;
}

/* Home Section */
.home-section {
  background-color: #eee;
  height: 100vh;
}

.home-section .container {
  padding-top: 130px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.home-section .container .text {
  color: #37373f;
  line-height: 1.5;
}

.home-section .container .text h2 {
  font-family: var(--secondary-font);
  font-size: 65px;
  width: 70%;
}

.home-section .container .text .buttons-container {
  display: flex;
}
.home-section .container .text .buttons-container .book-table {
  color: white;
  font-size: 16px;
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 0px 500px 500px 500px;
  border: none;
  margin-right: 30px;
}

.home-section .container .text .buttons-container .book-table:hover {
  background-color: red;
}

.home-section .container .text .buttons-container .watch-video-btn {
  display: flex;
  align-items: center;
}

.home-section .container .text .buttons-container .half-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 40px;
  background-color: var(--primary-color);
  border-bottom-left-radius: 110px;
  border-top-left-radius: 110px;
  position: relative;
}

.home-section .container .text .buttons-container .circle {
  background-color: white;
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.home-section .container .text .buttons-container .watch-video-btn span {
  margin-left: 30px;
}

.home-section .container .image {
  width: 40%;
}

.home-section .container .image img {
  width: 100%;
}

/* Chefs Section */
.chefs-section .container {
  padding-block: 50px;
  flex-direction: column;
  align-items: center;
}

.chefs-section .cards-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.chefs-section .cards-container .card {
  width: 30%;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 10px #eee;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
}

.chefs-section .cards-container .card:hover {
  transform: scale(1.05);
}

.chefs-section .cards-container .card .image {
  position: relative;
}

.chefs-section .cards-container .card .image img {
  width: 100%;
}

.chefs-section .cards-container .card .image .contact-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -70px;
  top: 20px;
  background-color: #eeeeeea9;
  border-radius: 10px;
  transition: all 0.5s;
}

.chefs-section .cards-container .card:hover .image .contact-icons {
  right: 30px;
}

.chefs-section .cards-container .card .image .contact-icons a {
  padding: 20px;
  color: grey;
}

.chefs-section .cards-container .card .image svg {
  position: absolute;
  height: 90px;
  bottom: 0;
  left: 0;
}

.chefs-section .cards-container .card .image svg.svg1 {
  left: 70%;
}

.chefs-section .cards-container .card .text {
  padding: 10px 20px;
}

.chefs-section .container h3 {
  font-family: var(--secondary-font);
  font-size: var(--lg-font-size);
}

.chefs-section .container h3 span {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}
