/* shared */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
}

html {
  color-scheme: light dark;

  --primary-color: light-dark(rgb(206, 18, 18), rgb(193, 126, 31));
  --secondary-color: light-dark(black, white);
  --secondary-color-r: light-dark(white, black);
  --padding-inline: 7%;
  --primary-font: "Open Sans", sans;
  --secondary-font: "Amatic SC", serif;
  --lg-font-size: 40px;
  --selection-color: light-dark(#d85454, #926321);
  --section-background-odd: light-dark(#eee, #252525);
  --section-background-even: light-dark(white, rgb(50, 50, 50));
}

html:has(#mode-switcher:checked) {
  color-scheme: light;
}

html:has(#mode-switcher:checked) .light-mode-icon {
  display: none;
}

html:has(#mode-switcher:checked) .dark-mode-icon {
  display: inline-block;
  font-size: 25px;
}

.container {
  padding-inline: var(--padding-inline);
  display: flex;
}

::selection {
  color: light-dark(white, black);
  background: var(--selection-color);
}

.container .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .heading h2 {
  color: #9f9f9f;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.container .heading h3 {
  font-family: var(--secondary-font);
  font-size: 50px;
}

.container .heading h3 span {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

input {
  background-color: white;
}

input:focus {
  border: 1px var(--primary-color) solid;
  outline: none;
}

textarea:focus {
  border: 1px var(--primary-color) solid;
  outline: none;
}

textarea {
  background-color: white;
}

/* 

navbar 

*/
.navbar {
  position: fixed;
  width: 100%;
  background-color: light-dark(white, #171717);
  box-shadow: 0px 0px 10px 2px rgba(117, 117, 117, 0.549);
  z-index: 3;
}

.navbar .container {
  display: flex;
  padding-inline: var(--padding-inline);
  padding-block: 25px;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo h1 {
  font-size: 30px;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar .list {
  list-style: none;
  display: flex;
}

.navbar .list .list-item {
  padding-inline: 15px;
  font-weight: 500;
}

.navbar .list .list-item label {
  color: grey;
  cursor: pointer;
  transition: all 0.4s;
}

.navbar .list .list-item a {
  color: grey;
}

.navbar .list .list-item a:hover {
  color: var(--secondary-color);
}

.navbar .list .underline {
  width: 0%;
  height: 3px;
  margin-top: 5px;
  background-color: var(--primary-color);
  transition: all 0.4s;
}

.navbar .list .list-item:hover .underline {
  width: 100%;
}

.navbar i.dark-mode-icon {
  display: none;
}

.navbar i.light-mode-icon {
  font-size: 25px;
}

.navbar #mode-switcher {
  display: none;
}

.navbar input[type="radio"] {
  display: none;
}

.navbar input[type="radio"]:checked ~ label {
  color: var(--secondary-color);
}

.navbar input[type="radio"]:checked ~ div.underline {
  width: 100%;
}

/* 

Home Section 

*/
.home-section {
  background-color: var(--section-background-odd);
}

.home-section .container {
  padding-top: 130px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.home-section .container .text {
  color: light-dark(#37373f, white);
  line-height: 1.5;
}

.home-section .container .text h2 {
  font-family: var(--secondary-font);
  font-size: 65px;
}

.home-section .container .text .buttons-container {
  display: flex;
}
.home-section .container .text .buttons-container .book-table {
  color: white;
  font-size: 16px;
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 0px 500px 500px 500px;
  border: none;
  margin-right: 30px;
}

.home-section .container .text .buttons-container .book-table:hover {
  background-color: red;
}

.home-section .container .text .buttons-container .watch-video-btn {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}

.home-section .container .text .buttons-container .half-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 40px;
  background-color: var(--primary-color);
  border-bottom-left-radius: 110px;
  border-top-left-radius: 110px;
  position: relative;
}

.home-section .container .text .buttons-container .circle {
  background-color: var(--secondary-color-r);
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.home-section .container .text .buttons-container .watch-video-btn span {
  margin-left: 30px;
}

.home-section .container .image:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.home-section .container .image img {
  width: 100%;
}

/* 

Chefs Section 

*/

.chefs-section {
  background-color: var(--section-background-even);
}

.chefs-section .container {
  padding-block: 50px;
  flex-direction: column;
  align-items: center;
}

.chefs-section .cards-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.chefs-section .cards-container .card {
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px light-dark(#eeeeee9e, rgba(62, 62, 62, 0.493));
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
}

.chefs-section .cards-container .card:hover {
  transform: scale(1.05);
}

.chefs-section .cards-container .card .image {
  position: relative;
}

.chefs-section .cards-container .card .image img {
  width: 100%;
}

.chefs-section .cards-container .card .image .contact-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -70px;
  top: 20px;
  background-color: #eeeeeea9;
  border-radius: 10px;
  transition: all 0.5s;
  opacity: 0.7;
}

.chefs-section .cards-container .card:hover .image .contact-icons {
  right: 30px;
}

.chefs-section .cards-container .card .image .contact-icons a {
  padding: 20px;
  color: grey;
}

.chefs-section .cards-container .card .image svg {
  position: absolute;
  height: 90px;
  bottom: 0;
  left: 0;
}

.chefs-section .cards-container .card .image svg path {
  fill: light-dark(white, #171717);
}

.chefs-section .cards-container .card .image svg.svg1 {
  left: 70%;
}

.chefs-section .cards-container .card .text {
  padding: 10px 20px;
  background-color: light-dark(white, #171717);
}

/* Gallery Section */
.gallery-section {
  background-color: var(--section-background-odd);
}

.gallery-section .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-block: 50px;
}

.gallery-section .container .cards-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px 20px;
  height: 1200px;
  align-content: center;
}

.gallery-section .container .cards-container .card {
  /* width: 33.333%; */
  border: white 5px solid;
  overflow: hidden;
  position: relative;
}

.gallery-section .container .cards-container .card img {
  width: 100%;
  transition: all 0.4s;
}

.gallery-section .container .cards-container .card:hover img {
  transform: scale(1.1);
}

.gallery-section .container .cards-container .card .img-description {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.645);
  transition: all 0.4s;
}

.gallery-section .container .cards-container .card:hover .img-description {
  bottom: 0%;
}

/* COntact SECTION */
.contact-section {
  background-color: var(--section-background-even);
}

.contact-section .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 70px;
}

.contact-section .container .iframe {
  width: 100%;
}

.contact-section .container .contact-cards-container {
  --gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap);
  margin-bottom: 30px;
}

.contact-section .container .contact-cards-container .contact-card {
  background-color: light-dark(#eee, black);
  width: calc(calc(100% - var(--gap)) / 2);
  display: flex;
  align-items: center;
  padding: 15px;
}

.contact-section .container .contact-cards-container .contact-card .circle {
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color-r);
}

.contact-section .container .contact-cards-container .contact-card .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.contact-section .container .form {
  width: 100%;
  box-shadow: 0px 0px 10px 5px rgba(76, 76, 76, 0.086);
  background-color: light-dark(white, #171717);
}

.contact-section .container .form .container {
  --gap: 10px;
  --gap-name-mail: calc((100% - var(--gap)) / 2);
  display: flex;
  flex-flow: row wrap;
  padding-inline: 20px;
  justify-content: space-between;
  gap: var(--gap);
}

.contact-section .container .form .container .name {
  width: var(--gap-name-mail);
  padding: 15px;
  border: #eee 1px solid;
}

.contact-section .container .form .container .mail {
  width: var(--gap-name-mail);
  padding: 15px;
  border: #eee 1px solid;
}

.contact-section .container .form .container .subject {
  width: 100%;
  padding: 15px;
  border: #eee 1px solid;
}

.contact-section .container .form .container input:focus {
  border: var(--primary-color) 1px solid;
}

.contact-section .container .form .container .message {
  width: 100%;
  padding: 15px;
  border: #eee 1px solid;
  columns: 30;
}

.contact-section .container .form .container .send-message-btn {
  background-color: var(--primary-color);
  padding-inline: 30px;
  padding-block: 10px;
  border: none;
  border-radius: 500px;
  color: var(--secondary-color-r);
}

/* 

Footer Section 

*/

.footer {
  background-image: url("../assets/images/textured-metal-background.jpg");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.534);
  background-blend-mode: color-burn;
  color: white;
}

.footer .container {
  display: flex;
  gap: 20px;
  padding-block: 50px;
  justify-content: center;
  line-height: 2;
}

/* .footer .container .col1 {
  width: 25%;
}

.footer .container .col2 {
  width: 50%;
}

.footer .container .col3 {
  width: 25%;
} */

.footer .container .col1 .logo img {
  width: 30px;
  vertical-align: middle;
}

.footer .container .col1 .logo h1 {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}

.footer .container .col1 .logo span {
  color: var(--primary-color);
}

.footer .container .col1 .social-media {
  text-align: center;
  font-size: 20px;
}

.footer .container .col1 hr {
  border: 1px grey solid;
}

.footer .container .col1 .contact-icons {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.footer .container .col1 .contact-icons a {
  color: white;
  margin-block: 10px;
}

.footer .container .col2 .email-textbox {
  padding: 15px;
  width: 70%;
}

.footer .container .col2 .subscribe-btn {
  padding: 17px 15px;
  width: 25%;
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color-r);
}

.footer .container .col2 .links-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

.footer .container .col2 .links-list .list-item {
  width: 50%;
  padding: 5px;
  transition: all 0.3s;
}

.footer .container .col2 .links-list .list-item:hover {
  background-color: rgba(255, 255, 255, 0.107);
  transform: translateX(5px);
}

.footer .container .col3 .info-list {
  list-style: none;
}

.footer .container .col3 .info-list .list-item {
  margin-block: 15px;
}

.footer .container .col3 .info-list .list-item i {
  color: var(--primary-color);
  font-size: 30px;
  vertical-align: middle;
}

.footer .container .col3 .info-list .list-item p {
  display: inline-block;
}
